{{> header}}
{{> header}}
<div class="doctor">
        <section>
            <div class="doctor-header">
                <h2 class="doctor-title"><a href="/doctor/{{doctor.id}}">dr {{doctor.name}} {{doctor.surname}}</a></h2>
                <div class="doctor-meta">id: <strong>{{doctor.id}}</strong>, Specialisation: <strong>{{doctor.specialization}}</strong></div>
            </div>
        </section>
</div>
{{> footer}}
{{> footer}}