{{> header}}
<div class="patient">
    <section>
        <div class="patients-header">
            <h2 class="patients-title"><a href="/patient/{{patient.id}}">{{patient.name}} {{patient.surname}}</a></h2>
            <div class="patients-meta">id: <strong>{{patient.id}}</strong>, address: <strong>{{patient.address}}</strong></div>
        </div>
    </section>
</div>
{{> footer}}